<h2>Edit the exisiting film using the following form below:</a></h3>
    <div class="edit-film-form">
      <form class="film-edit" action="{{film._id}}" method="post">
          {{>_form}}
      </form>
    </div>
