  <h2>Submit your new film using the following form:</a></h3>
      <div class="film-form">
        <form class="film-submit" action="/newfilm" method="post">
            {{>_form}}
        </form>
      </div>
